<style>
    /* Ajoutez ces styles à votre fichier CSS ou à votre balise style dans le composant Angular */
/* Add these styles to your component's CSS file or global styles */

.file-input-wrapper {
    display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  width: 200px;
  height: 200px;
  text-align: center;
  cursor: pointer;
  color: #777;
  transition: border-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drag-drop-area.drag-over {
  border-color: #4caf50; /* Change border color when dragging over */
}

/* Optional: Add styles for better visual feedback */
.custom-file {
  margin-top: 10px;
}

/* Optional: Style the file input button */
.custom-file-label::after {
  content: 'Browse';
}

/* Optional: Add styles for selected file display */
.file-preview {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  overflow: hidden;
}
/* Add these styles to your component's CSS file or global styles */

.preview-image {
  max-width: 100%; /* Adjust the maximum width as needed */
  max-height: 100%; /* Adjust the maximum height as needed */
  display: block;
  margin: auto;
}

/* Add styles to make the image take the same frame as the drag and drop area */
.file-preview {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  overflow: hidden;
}

.file-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: grey;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}


</style>

<div class="card mx-auto text-center" *ngIf="isAddCategoryModalVisible" tabindex="-1" role="dialog">
    <div class="card-body">
<h4 class="card-title">{{ selected ? 'Update Category' : 'Add Category' }}</h4>
<form class="forms-sample" #form="ngForm" (ngSubmit)="addProject()">
  <div class="form-group">
    <label for="exampleInputUsername1">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="project.name" required />
  </div>
  <div class="form-group">
    <label for="exampleInputUsername1">Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="project.description" required />
  </div>

  <div class="form-group">
    <label for="exampleInputUsername1">Categories</label>
    <select class="form-control" id="categorie" [(ngModel)]="selectedCategory" name="categorie" required>
      <option *ngFor="let categorie of categoriess" [value]="categorie.id">{{ categorie.name }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary mr-2">{{ selected ? 'Save' : 'Submit' }}</button>
  <button type="button" class="btn btn-light" (click)="closeAddCategoryModal()" (click)="cancelUpdate()">Cancel</button>
</form>

</div></div>
        <br>
        <!-- Formulaire -->
        <br>
        <!-- Formulaire -->
          <div class="card">
            <div class="card-body">
             
            
  
        <!-- Liste des catégories -->
        <div class="col-md-">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">List Of Subcategories</h4>
                <div class="d-flex justify-content-end mb-3">
                  <button type="button" class="btn btn-danger" (click)="deleteAllSubcategories()"> Delete All Subcategories</button>
</div>
                <div>
                    <label for="filterSelect" class="form-label">Filter:    </label>
                    <select class="form-select form-select-lg" id="filterSelect" [(ngModel)]="filterOption" (change)="applyFilter()">
                      <option value="all">All</option>
                      <option value="archive">Archived</option>
                      <option value="nonArchive">Unarchived</option>
                    </select>
                  </div>

                  <div class="d-flex justify-content-end mb-3">
                    <button type="button" class="btn btn-inverse-primary" (click)="showAddCategoryModal()">+ SubCategory</button>
&nbsp;                    <button type="button" class="btn btn-inverse-danger "(click)="deleteSelectedSubcategories()">Delete Selected</button>
                
</div>          
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category Name</th>
                        <th>Archived/Unarchived</th>
                        <th>Actions</th>
                        <th>Select To delete Multiple</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="categories.length > 0; else noSubcategoriesFound">
                      <tr *ngFor="let subcategory of categories">
                        <!-- Check if the item should be displayed based on the filterOption -->
                        <ng-container *ngIf="filterOption === 'all' || (filterOption === 'archive' && subcategory.archive) || (filterOption === 'nonArchive' && !subcategory.archive)">
                          <td>{{ subcategory.name }}</td>
                          <td>{{ subcategory.description }}</td>
                          <td>{{ getCategoryName(subcategory.categoryId) }}</td>
                          <td>{{ subcategory.archive ? 'Archived' : 'Unarchived' }}</td>
                          <td>
                            <button type="button" class="btn btn-inverse-danger btn-fw" (click)="deleteEvents(subcategory.id)">Delete</button>
                            <button type="button" class="btn btn-inverse-success btn-fw" (click)="showAddCategoryModal()" (click)="editCategory(subcategory)">Update</button>
                          </td>
                          <td>
                            <input type="checkbox" [checked]="subcategoryIdsToDelete.includes(subcategory.id!)" (change)="toggleDelete(subcategory.id)">
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>
                    <ng-template #noSubcategoriesFound>
                      <tr>
                        <td colspan="6">No subcategories found</td>
                      </tr>
                    </ng-template>
                  </table>
                  <mat-paginator
  [length]="categories.length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
></mat-paginator>
                </div>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  

  
